<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Number of products in category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |type| %>
        <%= render 'category', category: type[:name], id: type[:id] %>
        <% end %>
      </tbody>
    </table>

  </div>

</section>
