<h1> About us </h1>

<h2> Who are we? </h2>
<div>
Black Books is a second-hand bookshop located at 13 Little Bevan Street, Bloomsbury, London. It sells a variety of books to the public, and also buys books from customers, which is then used as stock. The shop is owned and run by Bernard Black, with the help of his assistant, Manny Bianco. The building in which Black Books is situated is owned by Mr. Benson, a cat who was left the building after Ms. Hanley, his presumed owner, died. Bernard has rented this building and now uses it as the shop and living quarters.
</div>

<h2> Our history </h2>
<div>
  1990s
  In the mid 1990s, Bernard Black, with the help of his friend Gerald, found a small building at 13 Little Bevan Street, Bloomsbury. Bernard has rented the downstairs and a part of the upstairs of the building from Ms. Hanley, the then-owner, who lived in the flat above the shop. Bernard moved in and turned the back room into the kitchen, the front room into a bookshop, and left the upstairs as living quarters. It is unknown what condition the shop was in then, however, it is likely that Bernard treated the shop with ill-respect, littering the floors with rubbish and piling books scruffily on the shelves.

  2000
  In 2000, Bernard hired Manny Bianco to work as an assistant in Black Books. Manny takes it upon himself to clean the shop and consults Anall Cleaning Ltd to hire a cleaner. However, one month after the cleaner had finished, the shop had returned to its original state.

  Later on in the same year, a group of youths broke into the shop after Manny had left the front door open. To prevent this from happening again, Manny decided to install a high security system which didn't allow anyone in or out of the building, much to Bernard's annoyance. However, another group of youths broke in the following night, and conveniently enough stole the security system.

  2001
  In 2001, Manny decided to renovate the shop after visiting the modern and stylish bookshop Saga Books. The shop now serves coffee, provides a comfortable seating area for its customers and has an information point. Once Bernard finds out what Manny has done, he is at first angry, put after much thought, decided that he needed the customers. However, when he discover that the customers leave at 1:00pm for lunch, Bernard decided to turn the shop into a restaurant/cafe. However, after giving all his clients food poisoning, Bernard is forced to close it down.

  2004
  In 2004, Manny resigned from his post in Black Books after Bernard shoved his hand down a toaster, and took up his new post at the bookshop next door, Goliath Books. In Manny's absence, the shop became more untidy than ever before. Books piled high and formed tall towers, and the shop became invested with dead badgers and hermit crabs.

  However, Manny decided that his life in Black Books was better than his life in Goliath Books, and returned to Bernard. Bernard, who is delighted to see him return, orders him to clean the shop from top to bottom, and the building returned to its original state.
</div>


